.container1{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
}
.takeone{
    width: 520px;
    height: 180px;
    display: flex;
    margin-left: 480px;
    margin-top: 0px;
    flex-direction: column;
    /* border: 1px solid grey; */
    border-radius: 25px;
}
.takenotecontainer1{
    width:100%;
    height:50px;
    margin-top: 18px;
    /* margin-left: 500px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color:white; */
    /* border: 1px dashed blue; */
}
.takenotecontainer2{
    width:500px;
    height:50px;
    /* margin-left: 500px; */
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* background-color: white; */
    /* border: 1px solid blue; */
}
.takenotecontainericon{
    width:500px;
    height:55px;
    /* margin-left: 500px; */
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* background-color: white; */
    /* border: 1px solid blue; */
}
#pid1{
    width: 450px;
    /* border:1px solid violet; */
    text-align: left;
}
#pid2{
    width:450px;
    text-align: left;
    margin-left:5px;

}
.takenotecontainer3{
    width:500px;
    height:40px;
    /* margin-top: 2px; */
    margin-left:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: white; */
    /* border: 1px solid blue; */
}
/* .closebutton{

} */
#closeid1{
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}
@media only screen and (min-width :320px) and (max-width :480px) {
    .takeone{
        width:98vw;
        height:35vh;
        display: flex;
        margin-left:90px;
        /* border:1px solid green; */
        flex-direction: row;
        justify-content: flex-start;
    }
    .takenotecontainer1{
        width:300px;
        height:20%;
        /* border:1px solid green; */

    }
    .takenotecontainer2{
        width:100%;
        height:20%;

    }
    .takenotecontainer3{
        width:100%;
        height:50%;
        display: flex;

    }
    .takenotecontainericon{
        width:100%;
        height:45%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .closebutton{
        width:100%;
        height:50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        /* border:1px solid red;
        margin-bottom:10px; */


    }
    #closeid1{
        width:30%;
        height:70%;
        margin-right:10px;
        margin-bottom:10px;
        /* border:1px solid green; */
    }
}
@media only screen and (min-width :481px) and (max-width :720px) {
    .takeone{
        width:90vw;
        height:35vh;
        display: flex;
        margin-left:90px;
        /* border:1px solid green; */
        flex-direction: row;
        justify-content: flex-start;
    }
    .takenotecontainer1{
        width:420px;
        /* border:1px solid green; */

        height:20%;
    }
    .takenotecontainer2{
        width:420px;
        height:20%;

    }
    .takenotecontainer3{
        width:100%;
        height:50%;
        display: flex;

    }
    .takenotecontainericon{
        width:420px;
        height:45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
}
@media only screen and (min-width :721px) and (max-width :1024px) {
    .takeone{
        width:100vw;
        height:35vh;
        display: flex;
        margin-left:90px;
        /* border:1px solid green; */
        flex-direction: row;
        justify-content: flex-start;
    }
    .takenotecontainer1{
        width:500px;
        /* border:1px solid green; */

        height:20%;
    }
    .takenotecontainer2{
        width:500px;
        height:20%;

    }
    .takenotecontainer3{
        width:100%;
        height:50%;
        display: flex;

    }
    .takenotecontainericon{
        width:500px;
        height:45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
}